
/*FORMULAIRE BOOK*/
/*formulaire*/
body{
  background-image: url(../images/hall/hallDAccueil.jpg);
  font-family: "Avenir", sans-serif;
  font-size: 12px;
}
select.formContainer{
  width:200;
  height: 15px;
  background:#F2F2F2;
}

input{
  border-color: #707070;
  border-width: thin;
  height: 12px;
}

section.background{
  width:460px;
  background-color: #f2f2f2;
  border-radius: 1%;
}

section.formulaire{
  width:400px;
  height:500px;
  margin:0 auto;
  align-items: center;
  color:black;
}


section.item{
  display:flex;
  margin:10px;
  margin-top: 20px;
}

label{
  width:160px;
  margin-right : 10px;
}

/*first Flexbox*/
firstFlexbox input{
  width:200px;
}

/*third flexbox*/
.book{
  display:flex;
  flex-direction:column;
}

.resto input{
  margin:10px;
}

.choice{
justify-content: space-between;
}

.restoChoice{
  display:flex;
}

.secondChoices{
  display: flex;
}

/* Customize the label (the container) */
.choiceContainer {
  display: flex;
  position: relative;
  padding-left: 17px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.choiceContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: white;
  border-color:#707070;
}

/* On mouse-over, add a grey background color */
.choiceContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.choiceContainer input:checked ~ .checkmark {
  background-color: #FF9300;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.choiceContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.choiceContainer .checkmark:after {
  left: 4.5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Fourth Flexbox*/

.fourthFlexbox{
  display:flex;
  margin-bottom: 10px;
}
.message{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.message{
  display:flex;

}
.writeHere{
  width:400px;
}


/*Réserver*/
.booking{
  display: flex;
  justify-content: center;
  margin-right: 50px;
}
/*FIN FORMULAIRE BOOK*/
