*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*home*/
.MainContainer{
  width: 100%;
  margin: 0 auto;
}

.CdC {
  width: 100%;
  height: 100%;
  z-index: -50;
}

/*Introduction*/

.container-home{
  width: 970px;
  background-color: white;
  clear: both;
  margin: 0 auto;
}

div.grey-background{
  width: 100%;
  height: 190px;
  margin: 0 auto;
  background-color: #E9E8E8;
  display: flex;
  justify-content: center;
  z-index: -10;
}

div.presentation{
  width: 90%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -240px;
}

div.orangeP{
  font-family: 'Helvetica';
  font-size: 20px;
  padding-left: 2%;
  border-style: hidden;
  border-left: solid;
  border-color: #FF9300;
}

.presentation img{
  width: 40%;
  margin-right: 4%;
}

div.title{
  width: 293px;
  margin-top: 10%;
  margin-bottom: 4%;
}

div.title2{
  width: 314px;
  margin-top: 40px;
}

.title h3, .title2 h3{
  font-family: 'Caviar Dreams';
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FF9300;
}

div.text{
  width: 100%;
  height: 70px;
  margin-top: 10px;
}

.text p{
  font-family: 'Helvetica';
  font-size: 20px;
}


/*Cards*/

body{
  margin: 0;
  padding: 0;
  font-family: 'Caviar Dreams';
  color: #444
}


/**** CARD ****/

.containerCard{
height: 730px;
width: 960px;
margin: 0 auto;
display: flex;
flex-flow: column wrap;
align-content: space-around;
}

.card{
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.cardLeftPart{
  width: 320px;
  height: 200px;
  overflow: hidden;
}

.cardRightPart{
  width: 130px;
  height: 200px;
  background: #F2F2F2;
}

.cardRightPart h2{
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardLeftPart img{
  max-width: 320px;
  max-height: auto;
}

#salleDeR .cardLeftPart img{
  max-width: 420px;
  max-height: auto;
}

.cardRightPart h2{
  margin-bottom: 10px;
}
/* GROW */
.hvr-grow {
    transition-duration: 0.5s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.02);
}

/* SHADOW */
.hvr-shadow {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
box-shadow: 5px 7px 5px 0px #E2E2E2;
}

/* ICON */
.icon img{
  max-width: 30px;
  max-height: 60px;
}
.icon{
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  height: 40px;
}

.iconText h3{
    font-size: 12px;
    margin-top: 15px;
}

.button{
    margin: 0 auto;
    background: #FF9300;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.button:hover{
    background: #dd8406
}

.button a{
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

#sceneSize img{
  width: 20px;
  max-height: 40px;
}

div#sceneSize{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top:  0px;
  margin-bottom: 0px;
}

#regleSize img{
  max-width: 20px;
  max-height: 60px;
}

div#regleSize{
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
}

div#regleSize h3{
  font-size: 10px;
  padding-top: 0px;
}

#sunSize img{
  max-width: 20px;
  max-height: 60px;
}

div#sunSize{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
}

div#sunSize h3{
  font-size: 10px;
}

#hallAcc{
    margin-top: 15px;
}

div#wifiSize h3{
  padding-left: 10px;
}

#amphi{
  margin-top: 5px;
}

div#forkSize h3{
  font-size: 10px;
  padding-left: 5px;
  margin-top: 0px;
}

#forkSize img{
  max-width: 24px;
  max-height: 24px;
}

#forkSize{
  margin-left: 10px;
  margin-top: 30px;
}

@media screen and (max-width:950px){
  .containerCard{
    height: 1500px;
    width: 500px;
    flex-direction: row;
  }
  .icon{
    display: flex;
    justify-content: space-around;
  }
}


/*cinema*/

.cinema{
  margin-top: 2%;
}

.inside{
  display: flex;
  justify-content: space-between;
}

img.cinema{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 450px;
  z-index: -1;
}

.logoCine{
  z-index: 4;
  width: 15%;
  height: 5%;
  margin-left: 3%;
  margin-top: 12%;
}

.cinema h2{
  color: white;
  margin-bottom: 1%;
  font-size: 70px;
  font-family: 'Caviar Dreams'
}

.cinema p{
  padding-right: 36.4%;
  margin-bottom: 6%;
  color: white;
  font-size: 30px;
  font-family: 'Helvetica';
}

.cinema a{
  font-family: 'Caviar Dreams';
  margin-right: 15%;
  border-style: solid;
  border-color: white;
  text-decoration: none;
  padding: 1%;
  color: white;
  font-size: 20px;
}

.cinema a:hover{
  cursor: pointer;
  border-color: #f0cf2f;
  color: #f0cf2f;
}

.cineText{
  padding-right: 4%;
  padding-top: 3%;
  text-align: right;
}

.text p{
  margin-top: 3%;
}

.Facebook{
  margin-top: 18%;
}
.fb{
  margin-left: 25%;
  height: 700px;
  margin-bottom: 20px;
}

.button2{
    margin: 0 auto;
    background: #FF9300;
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 10%;
}

.button2:hover{
  background: #dd8406
}

.button2 a{
  font-weight: bold;
  font-size: 17px;
  color: white;
  text-decoration: none;
}

/*FOOTER*/

footer, footer div, footer ul, footer li, footer h3, footer p, footer a{
    margin: 0 auto;
    box-sizing: border-box;
}

footer{
    min-height: 8vh;
    background-color:rgb(235, 235, 235);
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    color:rgb(0, 0, 0, 0.9);
    font-family: Helvetica;
    justify-content: space-around;
    align-items: stretch;
}

footer div{
    display: flex;
    padding: 10px 10px;
    align-items: flex-start;
}

footer li{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: rgb(0, 0, 0, 0.9);
}

footer ul{
    padding-inline-start: 0;
}

footer h2{
    font-size: 20px;
}

@media screen and (max-width:1500px){
  .cinema h2{
    font-size: 49px;
  }
  .cinema p{
    font-size: 28px;
    padding-right: 14%;
  }
  .cinema>img{
    height: 360px;
  }
  .logoCine{
    width: 20%;
    height: 100px;
    margin-left: 8%;
    margin-top: 11%;
  }
}

@media screen and (max-width:1050px){
  .cinema h2{
    font-size: 38px;
  }
  .cinema p{
    font-size: 25px;
    padding-right: 9%;
  }
  .cinema>img{
    height: 360px;
  }
  .logoCine{
    width: 20%;
    height: 100px;
    margin-left: 8%;
    margin-top: 11%;
  }
}

@media screen and (max-width:1024px){
  .container-home{
    width: 670px;
  }
  div.grey-background{
    height: 140px;
  }
  div.presentation{
    margin-bottom: -220px;
  }

  .title, .title2{
    margin: 0 auto;
  }

  .cinema>img{
    height: 320px;
  }
  .logoCine{
    width: 30%;
    margin-left: 4%;
    margin-top: 20%;
  }
  .cineText{
    position: absolute;
    margin-left: 12%;
  }
  .cinema h2{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }
  .cinema p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 8%;
  }
  .cinema a{
    margin-right: 5%;
    font-size: 25px;
  }

  .Facebook{
    text-align: center;
  }

  .fb{
    margin-left: 14%;
  }
  .button2{
    width: 25%;
  }
}
