
/*FORMULAIRE BOOK*/

body{
  color:black;
  background-color:white;
  background-image:url(../images/hall/hallDAaccueil.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:110%;
  background-size: 100%;
  font-family: "Avenir", sans-serif;
  font-size: 100%;
  font-weight: 500;
  width:100%;
  height:100%;
}


main{
  padding-top: 0px;
}

.column{
  display:flex;
  flex-direction: column;
}

.container{
  width: 1024px;
  margin:0 auto;
  display:flex;

}

/*BLOC1*/

.blocOne{
  flex-direction: column;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  width: 50%;
}

.arrow{
  height:auto;
  color: white;
  display: flex;
  width: 50%;
  flex-direction: row-reverse;
}

.arrow img{
  flex-direction: row-reverse;
}

.text{
  flex-direction: column;
  color: white;
  width: 475px;
}

.title{
  font-size: 150%;
  width: 100%;
}

.textTitle{
  font-family: 'CaviarDreams';
  margin-top:6%;
  border-left-style: solid;
  border-left-color: #FF9300;
  padding-left: 2%;
}

.smallText{
  font-size: 90%;
  font-weight: lighter;
}


/*BLOC2*/

.blocTwo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:11%;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

form.formContainer{
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 60px;
  padding-bottom: 40px;
  width:100%;
  height:100%;
  background-color: #f2f2f2;
  border-radius: 5%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.flexbox{
  padding-bottom :20px;
}

select#subject{
  height: 1.5%;
  background:#F2F2F2;
  width:100%;
  font-size: 80%;
  background-color: white;
  border: solid #707070 thin;
}

input{
  border: solid #707070 thin;
  border-radius: 5%;
  height: 1.8%;
  width:100%;
}

div.item{
  display:flex;
  margin:10px;
  width:100%;
}


  label{
    width:50%;
    margin-bottom: 10px;
  }


/*Fourth Flexbox*/
div.fourthFlexbox{
  display:flex;
  margin-bottom: 10%;
}

.message{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.writeHere{
  width:100%;
}

.containerButton{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=submit]{
    background-color: #FF9300;
    height: 30px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-color:#FF9300;
    display: flex;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}


@media screen and (min-width:768px) and (max-width:1024px)
{
  .container{
    width:768px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .arrow img{
    display:none;
  }

  .smallText{
    margin-top:3%;
    width:70%;
  }

  .blocTwo{
    margin-top:4%;
  }

  form.formContainer{
    width:70%;
  }

}

@media screen and (max-width:768px)
{
    .container{
      width:768px;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
    }

    .arrow img{
      display:none;
    }

    .smallText{
      margin-top:3%;
      width:50%;
    }

    .blocTwo{
      margin-top:4%;
      justify-content: center;
    }

    form.formContainer{
      width:50%;
    }

    .item{
      flex-direction: column;
    }
}

.sent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  font-size: 250%;
  font-family: "CaviarDreams" "helvetica";
  color: white;
}

.backToMain{
  color:white;
  text-decoration: none;
  background-color: #FF9300;
  font-size: 50%;
  margin:1%;
  padding: 1%;
  text-transform: uppercase;
}
/*FIN FORMULAIRE BOOK*/
