.container{
  margin: 0 auto;
  width: 1024px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

main.container{
  padding-top: 100px;
}

.blocDiv{
  margin:0% 15% 5% 15%;
}

h1{
  font-size: 150%;
  color: #FF9300;
  font-family: 'CaviarDreams';
  text-transform: uppercase;
  text-align: center;
}
