*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  padding: 0;
  font-family: 'Helvetica';
  font-size: 14px;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf');
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/CaviarDreams.ttf');
}

.container{
  margin: 0 auto;
  width: 1024px;
  display: flex;
}

.blocDiv{
  margin:0% 10% 5% 10%;
}

.blocDiv>h1{
  font-size: 50%;
  color: #FF9300;
}

/*FOOTER*/


/* CARD HOMEPAGE */

.containerCard{
height: 830px;
width: 1100px;
margin: 0 auto;
border: solid black 2px !important;
display: flex;
flex-flow: column wrap;
align-content: space-around;
}

.card{
  width: 470;
  height: 230px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.cardLeftPart{
  width: 320px;
  height: 230px;
  overflow: hidden;
}

.cardRightPart{
  width: 150px;
  height: 230px;
  background: #F2F2F2;
}

.cardRightPart h2{
  font-size: 14px;
  font: 'Caviar Dreams';
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardLeftPart img{
  max-width: 320px;
  max-height: auto;
}

#salleDeR img{
  max-width: 420px;
  max-height: auto;
}
