body{
  color:black;
  background-color:white;
  background-image:url(../images/hall/hallDAaccueil.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:110%;
  background-size: 100%;
  font-family: "Avenir", sans-serif;
  font-size: 100%;
  font-weight: 500;
  width:100%;
  height:auto;
}

.container{
  margin:0 auto;
  display:flex;
  flex-direction: column;
}

.MainContainer{
  margin:0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:1024px;
  height: auto;
}

.sent{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  font-size: 250%;
  font-family: "CaviarDreams" "helvetica";
  color: white;
  padding-bottom: 200px;
}

.backToMain{
  color:white;
  width : 100%;
  text-decoration: none;
  background-color: #FF9300;
  font-size: 50%;
  margin:1%;
  padding: 1%;
  text-transform: uppercase;
}


@media screen and (min-width:768px) and (max-width:1024px)
{

  main{
  padding-top: 100px;
  }


    .sent{
      font-size:250%;
      padding-left: 15%;
    }

}

@media screen and (max-width:768px)
{

  main{
  padding-top: 100px;
  }

  .textTitle{
      font-size:120%;
  }

  .sent{
    font-size:200%;
    padding-left: 10%;
  }
}
